apiVersion: v1
kind: ConfigMap
metadata:
  name: inferenceservice-config
  namespace: kserve
data:
  metricsAggregator: |-
    {
      "enableMetricAggregation": "true",
      "enablePrometheusScraping" : "true"
    }